process.executor = 'slurm'
process.time = '8:00:00'
process.cpus = 4
process.memory = 8.GB
process.errorStrategy = 'finish'
manifest.defaultBranch = 'main'

// Module parameter definitions

params {
		/***** BOWTIE2 PARAMS *****/
		bt2_index = '/proj/seq/data/hg38_UCSC/Sequence/Bowtie2Index/'

		/***** MACS2 PARAMS *****/
		broad = false
		macs_qvalue = 0.05

		/***** CSAW Params *****/
		norm_method = 'bins'

		/***** COVERAGE PARAMS *****/
		genomeSize = 2701495761 // Also applies to mac2
		genome = 'hg38'

		/***** SAMTOOLS PARAMS *****/
		skip_filter = false
		mapq = 10
}

// Profiles

profiles {

	mm10 {
		params.bt2_index = '/proj/seq/data/MM10_UCSC/Sequence/Bowtie2Index/'
		params.genome = 'mm10'
		parms.genomeSize = 2308125349 // https://deeptools.readthedocs.io/en/latest/content/feature/effectiveGenomeSize.html
	}

	hg38 {
		params.bt2_index = '/proj/seq/data/hg38_UCSC/Sequence/Bowtie2Index'
		params.genome = 'hg38'
		parms.genomeSize = 2701495761
	}
}
// Process labels

process { 
	   withLabel: trim { 
	      cpus = 2
	      memory = 8.GB
	      time = '24:00:00'
	      } 

	   withLabel: big_mem {
	      cpus = 8
	      memory = 48.GB
	      }

	   withLabel: large { 
	   cpus = 12
	   memory = 36.GB
	    } 

	   withLabel: medium { 
	      cpus = 8 
	      memory = 16.GB
	      time = '24:00:00'
	      } 

	   withLabel: small { 
	      cpus = 2
	      memory = 8.GB 
	      } 

	   withLabel: single {
	      cpus = 1
	      memory = 8.GB
	      }

	   withLabel: med_mem { 
	   cpus = 8
	   memory = 24.GB
	   } 

	   withLabel: long { 
	   time = '48:00:00' 
	   } 
}
